/*
#########################
#                       #
#   Page title banner   #
#                       #
#########################
*/

.jumbotron {
  color: white;
  background-color: #006400;
  border-radius: 0rem;
}

/*
#########################
#                       #
#      Clock face       #
#                       #
#########################
*/

#pomodoro {
  justify-content: center;
  margin-bottom: 0.5rem;
}

#timer-label {
  justify-content: center;
}

#time-left {
  height: 5rem;
  width: 15rem;
  font-size: 3em;
  color: #006400;
  padding: 1rem;
  text-align: center;
}

/*
#########################
#                       #
#   Main Control Panel  #
#                       #
#########################
*/

#ctlPanelContainer {
  width: 20rem;
  padding: 0.5rem;
  border: 1px solid #006400;
  border-radius: 3%;
}

.ctlPanel {
  text-align: center;
}

#start_stop,
#reset {
  width: 6rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#session-increment,
#session-decrement,
#break-increment,
#break-decrement {
  margin-top: 0.5rem;
}

#session-label,
#break-label {
  padding-top: 6px;
}

#start_stop,
#reset,
#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  background-color: #006400;
  border-color: #006400;
}

#session-length,
#break-length {
  width: 3.5rem;
  margin: auto;
  margin-top: 0.5rem;
}

#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  width: 2.5rem;
}

#start_stopBtn {
  text-align: right;
  padding-right: 0.5rem;
}

#resetBtn {
  text-align: left;
  padding-left: 0.5rem;
}

#brLblCtlPanel,
#sessLblCtlPanel {
  text-align: right;
  padding-right: 0.5rem;
}

#sessBtnCtlPanel,
#brBtnCtlPanel {
  text-align: left;
  padding-left: 0rem;
}

#pomFooter {
  background-color: #006400;
  margin-top: 2rem;
}

/*
#########################
#                       #
#   CSS Media Query     #
#                       #
#########################
*/

@media screen and (max-width: 830px) {
  .jumbotron {
    height: 5rem;
    color: white;
    background-color: #006400;
    border-radius: 0rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .jumbotron h1,
  .jumbotron h2 {
    font-size: 1rem;
  }

  #time-left {
    font-size: 1.5rem;
    width: 7.5rem;
  }
}
